
div.background {
    background: darkgreen;
    border: 3px solid gray;
    border-radius: 20px;
    margin: 1%;
    width: 98%;
    padding: 10%;
    height: 100vh;
}

.handBack {
    background: antiquewhite;
    margin: auto;
    border-radius: 7px;
    padding: 1rem;



}

img.resize {
    max-height: 16vh;
    max-width: 17vw;
    border-radius: 11px;
    margin-left: 0.3rem;
}

.points {
    font-size: 3.5vw;
    color: black;
    font-weight: bolder;
}

.dealerStatus {
    font-size: x-large;
    color: beige;
    margin-left: 25%;
}

.status {
    font-size: 5vw;
    text-align: center;
    height: auto;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;

}

.cash {
    position: relative;
    margin-left: 50vw;
    color: white;
    font-size: 2.2vw;

}


.pots {
    display: flex;
    justify-content: center;
    color: darkgoldenrod;
    font-size: 30px;
    font-weight: bold;
    font-family: "Georgia";

}


#betInput {
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}


input{
    text-align: center;
}




.btn-primary:hover, .btn-primary:focus { background-color: #0486b9; }

